<ion-header collapse="condense">
  <ion-toolbar>
    <ion-button color="transparant" slot="start" (click)="cancel()">
      <ion-icon name="arrow-back">
      </ion-icon>
    </ion-button>
    <ion-avatar slot="start">
      <img [src]="contact.profileURL" alt="avatar"/>
    </ion-avatar>
    <ion-grid class="ion-padding">
      <ion-row>
        <ion-label class="long-text">{{ contact.name }}</ion-label>
      </ion-row>
      <ion-row>
        <ion-col size="8">
          <ion-text color="medium" class="long-text">{{ contact.username }}</ion-text>
        </ion-col>
        <ion-col size="4">
          <ion-badge [color]="isOnline() ? 'success' : 'danger'">
            {{ isOnline() ? 'Online' : 'Offline' }}
          </ion-badge>
        </ion-col>
      </ion-row>
      <ion-row>
        <span class="long-text" *ngFor="let user of isTyping()">
          {{(user?.senderID === contact._id && user.status === 'started' ? contact.username : '') + ' typing...'}}
        </span>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
<ion-content #content>
  <ion-list class="bg">
    <app-message-card [chatData]="{
      user: user,
      contact: contact,
      message,
      isSender: message.senderID === user._id}"
      *ngFor="let message of roomData()?.messages"></app-message-card>
  </ion-list>
</ion-content>
<ion-footer collapse="condense">
  <ion-toolbar>
    <ion-item color="transparant">
      <ion-textarea [(ngModel)]="message" placeholder="Type your message..." (ionFocus)="onTyping()"
      (ionBlur)="onFinishedTyping()"></ion-textarea>
      <ion-button color="transparant" (click)="send()">
        <ion-icon name="send" />
      </ion-button>
    </ion-item>
    </ion-toolbar>
</ion-footer>
