<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button slot="icon-only" (click)="cancel()">
        <ion-icon name="arrow-back">
        </ion-icon>
    </ion-button>
  </ion-buttons>
    <ion-avatar class="header-icon" slot="start">
      <img [src]="contact.user.profileURL" alt="avatar"/>
     <div class="dot" [ngClass]="{'online':  isOnline(), 'offline': !isOnline()}"></div>
    </ion-avatar>
    <ion-grid class="ion-padding">
      <ion-row>
        <ion-label class="long-text">{{ contact.user.name }}</ion-label>
      </ion-row>
      <ion-row>
          <ion-text color="medium" class="long-text">{{ contact.user.username }}</ion-text>
      </ion-row>
      <ion-row>
        <span class="long-text" *ngFor="let user of isTyping()">
          {{(user?.senderID === contact.user._id && user.status === 'started' ? contact.user.username : '') + ' typing...'}}
        </span>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
<ion-content #content>
  <ion-list class="bg">
    <ng-template ngFor let-message [ngForOf]="roomData()?.messages" let-i="index" [ngForTrackBy]="messageID">
      <app-message-card [chatData]="{
        user: user,
        contact: contact,
        message,
        isSender: message.senderID === user._id}"
        ></app-message-card>
    </ng-template>
  </ion-list>
</ion-content>
<ion-footer collapse="condense">
  <ion-toolbar>
    <ion-item color="transparant">
      <ion-textarea [(ngModel)]="message" placeholder="Type your message..." (ionFocus)="onTyping()"
      (ionBlur)="onFinishedTyping()"></ion-textarea>
      <ion-buttons>
        <ion-button slot="icon-only" color="success" (click)="send()">
          <ion-icon name="send" />
        </ion-button>
      </ion-buttons>
    </ion-item>
    </ion-toolbar>
</ion-footer>
