<ion-grid>
  <ion-row [ngClass]="{'ion-justify-content-end' : chatData.isSender,'ion-justify-content-start' : !chatData.isSender}">
    <ion-col size="2">
      <ion-avatar>
        <img [src]="chatData.user.profileURL" alt="avatar"/>
      </ion-avatar>
    </ion-col>
    <ion-col size="6">
      <ion-grid>
        <ion-row>
          <ion-label class="long-text">{{ chatData.user.name }}</ion-label>
        </ion-row>
        <ion-row>
          <ion-text color="medium" class="long-text">{{ chatData.user.username }}</ion-text>
        </ion-row>
        <ion-row>
            <h4>
              {{chatData.message.content}}
            </h4>
        </ion-row>
        <ion-row class="ion-justify-content-end">
            <ion-text color="medium" class="long-text">{{ chatData.message.timestamp | date:'h:mm a' }}</ion-text>
        </ion-row>
      </ion-grid>
    </ion-col>
  </ion-row>
</ion-grid>

