<ion-header>
  <ion-toolbar>

    <ion-title class="ion-text-center">Chat App</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-header>
      <ion-toolbar>
        <ion-searchbar animated="true" placeholder="Search Friends" [debounce]="1000" (ionInput)="search($event)" (ionClear)="clear()"></ion-searchbar>
      </ion-toolbar>
    </ion-header>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="fetchedUsers().length === 0" class="container">
    <ion-item class="item">
      <ion-icon aria-hidden="true" size="large" name="add-circle-outline"></ion-icon>
      <ion-label> Find your friends</ion-label>
    </ion-item>
  </div>
  <app-search-card (cardClick)="open($event)" (buttonClick)="btnClick($event)" [user]="user" *ngFor="let user of selectedUsers(); let index"/>
</ion-content>
