<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Chat App</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment value="friends" (ionChange)="changeSection($event)">
      <ion-segment-button value="friends">
        <ion-item>
          <ion-label>Friends</ion-label>
          <ion-badge *ngIf="sectionStatus().contacts > 0" color="success">{{sectionStatus().contacts}}</ion-badge>
        </ion-item>
      </ion-segment-button>
      <ion-segment-button value="sent">
        <ion-item>
          <ion-label>Sent Invite</ion-label>
          <ion-badge *ngIf="sectionStatus().sentInv > 0" color="success">{{sectionStatus().sentInv}}</ion-badge>
        </ion-item>
      </ion-segment-button>
      <ion-segment-button value="received">
        <ion-item>
          <ion-label>Received Invite</ion-label>
          <ion-badge *ngIf="sectionStatus().receivedInv > 0" color="success">{{sectionStatus().receivedInv}}</ion-badge>
        </ion-item>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content (ionChange)="changeSection($event)" [fullscreen]="true">
  <ion-list class="section" [ngSwitch]="currentSection()">
    <div class="section" *ngSwitchCase="'friends'">
      <ng-template ngFor let-contact [ngForOf]="contacts()" let-i="index" [ngForTrackBy]="contactID">
        <app-friends-card [status]="'friends'" (cardClick)="open($event)" (buttonClick)="btnClick($event)" [contact]="contact"/>
      </ng-template>
      <div *ngIf="contacts()?.length === 0" class="container">
        <ion-item class="item">
          <ion-icon aria-hidden="true" size="large" name="alert-circle-outline"></ion-icon>
          <ion-label> Friend list is empty</ion-label>
        </ion-item>
      </div>
    </div>
    <div class="section" *ngSwitchCase="'sent'">
      <ng-template ngFor let-contact [ngForOf]="sentInv()" let-i="index" [ngForTrackBy]="contactID">
        <app-friends-card [status]="'sent'" (cardClick)="open($event)" (buttonClick)="btnClick($event)" [contact]="contact"/>
      </ng-template>
      <div *ngIf="sentInv()?.length === 0" class="container">
        <ion-item class="item">
          <ion-icon aria-hidden="true" size="large" name="alert-circle-outline"></ion-icon>
          <ion-label> Sent Invite list is empty</ion-label>
        </ion-item>
      </div>
    </div>
    <div class="section" *ngSwitchCase="'received'">
      <ng-template  ngFor let-contact [ngForOf]="receivedInv()" let-i="index" [ngForTrackBy]="contactID">
      <app-friends-card [status]="'received'" (cardClick)="open($event)" (buttonClick)="btnClick($event)" [contact]="contact"/>
      </ng-template>
      <div *ngIf="receivedInv()?.length === 0" class="container">
        <ion-item class="item">
          <ion-icon aria-hidden="true" size="large" name="alert-circle-outline"></ion-icon>
          <ion-label> Received Invite list is empty</ion-label>
        </ion-item>
      </div>
    </div>
    <div class="section" *ngSwitchDefault>
      <ng-template ngFor let-contact [ngForOf]="contacts()" let-i="index" [ngForTrackBy]="contactID">
      <app-friends-card [status]="'friends'" (cardClick)="open($event)" (buttonClick)="btnClick($event)" [contact]="contact"/>
      </ng-template>
    </div>
  </ion-list>
</ion-content>
