<ion-item (click)="cardClick.emit({click:true, contact: contact})">
  <ion-avatar slot="start">
    <img [src]="contact.profileURL" alt="avatar"/>
  </ion-avatar>
  <ion-grid>
    <ion-row>
      <ion-label class="long-text">{{ contact.name }}</ion-label>
    </ion-row>
  <ion-row>
    <ion-col size="8">
      <ion-text color="medium" class="long-text">{{ contact.username }}</ion-text>
    </ion-col>
    <ion-col size="4">
      <ng-container *ngIf="section === 'friends'">
        <ion-buttons>
          <ion-button color="danger" size="large" slot="icon-only" (click)="buttonClick.emit({username: contact.username, type: 'remove'})">
            <ion-icon name="person-remove"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ng-container>
      <ng-container *ngIf="section === 'sent'">
        <ion-buttons>
          <ion-button color="danger" size="large" slot="icon-only" (click)="buttonClick.emit({username: contact.username, type: 'cancel'})">
            <ion-icon name="close-circle"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ng-container>
      <ng-container *ngIf="section === 'received'">
        <ion-buttons>
          <ion-button color="tertiary" size="large" slot="icon-only" (click)="buttonClick.emit({username: contact.username, type: 'accept'})">
            <ion-icon name="checkmark-circle"></ion-icon>
          </ion-button>
          <ion-button color="danger" size="large" slot="icon-only" (click)="buttonClick.emit({username: contact.username, type: 'decline'})">
            <ion-icon name="remove-circle"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ng-container>
    </ion-col>
  </ion-row>
  </ion-grid>
  </ion-item>


