<ion-content>
  <ion-card>
    <ion-card-header class="ion-text-center">
      <h3>Reset Password</h3>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
        <ion-item>
          <ion-label position="floating">Username</ion-label>
          <ion-input type="text" errorText="Enter valid username." disabled></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" errorText="Enter valid password."></ion-input>
          <ion-label class="warning" *ngIf="f['password'].hasError('required') && f['password'].touched">Password is required.</ion-label>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Confirm Password</ion-label>
          <ion-input type="password" errorText="Enter valid confirm password."></ion-input>
          <ion-label class="warning" *ngIf="f['confirmPassword'].hasError('required') && f['confirmPassword'].touched">Confirm Password is required.</ion-label>
          <ion-label class="warning" *ngIf="f['confirmPassword'].hasError('mismatch') && f['confirmPassword'].touched">Password doesnot match.</ion-label>
        </ion-item>
        <ion-button type="submit" [disabled]="resetPasswordForm.invalid" expand="full" color="primary">
          Send
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
