<ion-item (click)="cardClick.emit({click:true, user: user})">
  <ion-avatar slot="start">
    <img [src]="user?.profileURL" alt="avatar"/>
  </ion-avatar>
  <ion-grid>
    <ion-row>
      <ion-label class="long-text">{{ user?.name }}</ion-label>
    </ion-row>
  <ion-row>
    <ion-col size="8">
      <ion-text color="medium" class="long-text">{{ user?.username }}</ion-text>
    </ion-col>
    <ion-col size="4">
      <ng-container *ngIf="!user?.status">
        <ion-buttons class="ion-justify-content-end">
          <ion-button color="tertiary" size="large" slot="icon-only" (click)="buttonClick.emit({username: user.username, type: 'invite'})">
            <ion-icon name="person-add"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ng-container>
      <ng-container *ngIf="user?.status === 'friends'">
        <ion-buttons class="ion-justify-content-end">
          <ion-button color="danger" size="large" slot="icon-only" (click)="buttonClick.emit({username: user.username, type: 'remove'})">
            <ion-icon name="person-remove"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ng-container>
      <ng-container *ngIf="user?.status === 'sent'">
        <ion-buttons class="ion-justify-content-end">
          <ion-button color="danger" size="large" slot="icon-only" (click)="buttonClick.emit({username: user.username, type: 'cancel'})">
            <ion-icon name="close-circle"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ng-container>
      <ng-container *ngIf="user?.status === 'received'">
        <ion-buttons class="ion-justify-content-end">
          <ion-button color="tertiary" size="large" slot="icon-only" (click)="buttonClick.emit({username: user.username, type: 'accept'})">
            <ion-icon name="checkmark-circle"></ion-icon>
          </ion-button>
          <ion-button color="danger" size="large" slot="icon-only" (click)="buttonClick.emit({username: user.username, type: 'decline'})">
            <ion-icon name="remove-circle"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ng-container>
    </ion-col>
  </ion-row>
  </ion-grid>
</ion-item>


