<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Chat App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="chats">
      <ion-icon aria-hidden="true" name="chatbubbles"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="friends">
      <ion-icon aria-hidden="true" name="person"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon aria-hidden="true" name="search"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
