<ion-content>
    <ion-card>
      <ion-card-header>
        Login
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Username</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
        <ion-button expand="full" color="primary" class="login-button">
          Send
        </ion-button>
        <ion-item>
          <ion-label>
            <p>Not registered yet? click here to <a  [routerLink]="['../register']">register</a></p>
          </ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
</ion-content>
