<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Chat App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <ion-list>
   <ion-item>
    <ion-icon size="small" class="ion-padding" name="heart-half"></ion-icon>
    <ion-toggle [(ngModel)]="mode" (ionChange)="darkMode()">Dark Mode</ion-toggle>
   </ion-item>
   <ion-accordion-group>
    <ion-accordion value="profile">
      <ion-item slot="header">
        <ion-icon size="small" class="ion-padding" name="journal"></ion-icon>
        <ion-label>Personal Details</ion-label>
      </ion-item>
      <ion-item slot="content" (click)="openProfile()">
        <ion-icon size="small" class="ion-padding" name="person"></ion-icon>
        <ion-label>Update your profile</ion-label>
      </ion-item>
    </ion-accordion>
    <ion-accordion value="privacy">
      <ion-item slot="header">
        <ion-icon size="small" class="ion-padding" name="construct"></ion-icon>
        <ion-label>Privacy & Security</ion-label>
      </ion-item>
      <ion-item slot="content" (click)="openResetPassword()">
        <ion-icon size="small" class="ion-padding" name="keypad"></ion-icon>
        <ion-label>Change your password</ion-label>
      </ion-item>
    </ion-accordion>
  </ion-accordion-group>
   <ion-item>
    <div  class="logoutArea">
        <ion-buttons>
          <ion-button color="danger" (click)="logout()">
            <ion-icon slot="start" name="exit-outline"></ion-icon>
            <ion-label  slot="end">Logout</ion-label>
          </ion-button>
        </ion-buttons>
    </div>
   </ion-item>
 </ion-list>
</ion-content>
